In [223]:
#add the pandas dependency
import pandas as pd

In [224]:
# Files to load
school_data_to_load = "resources/schools_complete.csv"
student_data_to_load = "resources/students_complete.csv"

In [225]:
#Read the school data file and store it in a pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
# school_data_df

In [226]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
# student_data_df

In [227]:
#Creating new list with all the prefixes and suffixes in names to use for name cleaning
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [228]:
#removing all the professional suffixes and prefixes from student names
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

C:\Users\sukhbir\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [229]:
#save the clean data to new csv file
student_data_df.to_csv("resources/clean_student_data.csv")

In [230]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
# school_data_complete_df

In [231]:
#get the total number of students
student_count = school_data_complete_df["Student ID"].count()
# student_count

In [232]:
#get the total number of schools
school_count = len(set(school_data_complete_df["school_name"]))
# school_count

In [233]:
#get total budget of all schools
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [234]:
#get reading score average
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [235]:
#get math score average
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [236]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math_count = passing_math["student_name"].count()
passing_math_count

29370

In [237]:
# Get all the students who are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading_count = passing_reading["student_name"].count()
passing_reading_count

33610

In [238]:
#Get the percentage of students who passed math
passing_math_percentage = passing_math_count / student_count * 100
#Get the percentage of students who passed reading
passing_reading_percentage = passing_reading_count /student_count * 100

In [239]:
#Get number of students who passed both math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) 
                                               & (school_data_complete_df["reading_score"] >= 70)]
overall_passing_math_rading_count = passing_math_reading["student_name"].count()

In [240]:
#calculate overall passsing percentage
overall_passing_percentage = overall_passing_math_rading_count / student_count *100
overall_passing_percentage

65.17232575950983

In [241]:
#create new DataFrame to store all the results
district_summary_df = pd.DataFrame([{"Total Schools": school_count,
                                    "Total Students" : student_count,
                                   "Total Budget" : total_budget,
                                   "Average Reading Score": average_reading_score,
                                   "Average Math Score": average_math_score,
                                   "% Passing Reading": passing_reading_percentage,
                                   "% Passing Math": passing_math_percentage,
                                   "% Overall Passing": overall_passing_percentage}])
#print district summary 
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,39170,24649428,81.87784,78.985371,85.805463,74.980853,65.172326

In [242]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [243]:
passing_math_percent(passing_math_count, student_count)

74.9808526933878

In [244]:
#formating the dataframe
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

#get district summary dataframe output
district_summary_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,15,"39,170","$24,649,428.00",81.9,79.0,86,75,65

In [245]:
#change the column order for the dataframe
new_column_order = ["Total Schools","Total Students","Total Budget","Average Math Score","Average Reading Score",
                   "% Passing Math","% Passing Reading","% Overall Passing"]
#assign the new column arder to district summary dataframe
district_summary_df = district_summary_df[new_column_order]

# district_summary_df

In [246]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [247]:
# Add the per_school_types into a DataFrame for testing.
#school_summary_df = pd.DataFrame(per_school_types)

In [248]:
#get per school student count
per_school_count = school_data_df.set_index(["school_name"])["size"]
# per_school_count

In [249]:
school_summary_df = pd.DataFrame()
school_summary_df = pd.merge(per_school_types, per_school_count, on = ["school_name"])

In [250]:
per_student_capita  = per_school_budget / per_school_count

In [251]:
# Calculate the average test scores.
per_school_math = avergae_math_score["math_score"]

per_school_reading = avergae_math_score["reading_score"]

In [252]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [253]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [254]:
# percentage of students passed math per school
per_school_passing_math = per_school_passing_math / per_school_count * 100
# per_school_passing_math

In [255]:
# # percentage of students passed reading per school
per_school_passing_reading = per_school_passing_reading / per_school_count * 100
# per_school_passing_reading

In [256]:
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [257]:
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [258]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_count * 100
per_overall_passing_percentage

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [259]:
per_school_summary_df = pd.DataFrame()

In [260]:
columns = ["per_school_type","per_school_count"]

In [261]:
per_school_summary_df = per_school_summary_df[columns]

KeyError: "None of [Index(['per_school_type', 'per_school_count'], dtype='object')] are in the [columns]"